#### Creating a Table with PostgreSQL

In [32]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\omkumar\anaconda3\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

#### Import the Library

In [22]:
import psycopg2

#### Create a Connection to the Database

In [33]:
try:
    conn=psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=postgres")
except psycopg2.Error as e:
    print("Error! Couldnot get cursor to the database ")
    print(e)

#### Use the connection to get a cursor that can be used to execute query

In [34]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the database")
    print(e)

#### Set automatic commit to be True so that each action is committed without having to call conn.commit() after each commit

In [35]:
conn.set_session(autocommit=True)

#### Create a database to do the work

In [36]:
try:
    cur.execute("Create database myfirstdb")
except psycopg2.Error as e:
    print(e)

database "myfirstdb" already exists

#### Add the database name in the connect statement, Lets close our connection to the default database, reconnect to udacity database, and get a new cursor

In [37]:
try:
   conn.close()
except psycopg2.Error as e:
    print(e)
    
try:
  conn = psycopg2.connect("host=127.0.0.1 dbname=myfirstdb user=postgres password=postgres")
except psycopg2.Error as e:
    print("Error! could not make connection to the postgres")
    print(e)
    
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print("Error! Could not get cursor to the database")
    print(e)
    
conn.set_session(autocommit=True)

#### Create Table for students which includes below columns

Student_id,
name,
age,
gender,
subject,
marks

In [38]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students(student_id int, name varchar, age int, gender varchar, subject varchar, marks int);")
except psycopg2.Error as e:
    print("Error: Issue Creating Table")
    print(e)

### Insert the following two rows in the table
First Row: 1, "Raj",23,"Male","Python",85\
Second Row: 2,"Priya",22,"Female","Python",86

In [39]:
try:
    cur.execute("INSERT INTO students(student_id, name, age, gender, subject, marks)\
                VALUES(%s, %s, %s, %s, %s, %s)",
                (1, "Raj", 23, "Male", "Python", 85))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)
    
try:
    cur.execute("INSERT INTO students(student_id, name, age, gender, subject, marks)\
               VALUES(%s, %s, %s, %s, %s, %s)",
               (2, "Priya",22,"Female","Python",86))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

#### Validate your data was inserted into the table

In [40]:
try:
    cur.execute("SELECT * FROM students;")
except psycopg2.Error as e:
    print("Error: Select *")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)
(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)

##### And finally close the cursor and connection

In [41]:
cur.close()
conn.close()